.forms-page {
  min-height: 800px;
  display: grid;
  place-items: center;
}

.forms-container {
  width: 400px;
  height: 570px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .logo-image,
  img {
    width: 100px;
  }

  h1 {
    text-align: center;
    padding-left: 10px;
  }
}

.forms-register-container {
  width: 400px;
  height: 720px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .logo-image,
  img {
    width: 100px;
  }

  p {
    text-align: center;
  }

  h1 {
    text-align: center;
    padding-left: 10px;
  }
}

.heading {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 25px 0;
  color: black;
  text-transform: inherit;
  letter-spacing: inherit;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 270px;
    padding: 10px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;

    &:focus {
      border-color: var(--bg-grey);
      outline: none;
    }
  }
}

.form-login-remember {
  height: 2s0px;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    color: black;
    font-size: 13px;
    font-weight: 400;
  }

  input {
    cursor: pointer;
  }
}

.login-form-button-div {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: var(--font-color);
    background-color: var(--bg-grey);
    cursor: pointer;

    &:hover {
      background-color: var(--border-hover-color);
    }
  }
}

.form-message {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 400;
  color: black;

  a {
    color: darkblue;
  }
}

.form-error {
  color: var(--error);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-top: 5px;
}
