:root {
  --bg-color: #161b28;
  --bg-light: #283149;
  --bg-grey: #3a476a;
  --font-color: #ffffff;
  --border-hover-color: #00cfc8;
}

// .dark {
//     --bg-color: #161b28;
//     --bg-light: #283149;
//     --bg-grey: #3a476a;
//     --font-color: #ffffff;
//     --border-hover-color: #00cfc8;
//   }

//   .light {
//     --bg-color: #ffffff;
//     --bg-light: #283149;
//     --bg-grey: #c6cbda;
//     --font-color: #161b28;
//     --border-hover-color: #00cfc8;
//   }
