.container_page {
  margin: 0;
  padding: 20px 50px;
  color: var(--font-color);
  background-color: var(--bg-grey);
  border-radius: 5px;

  h2 {
    font-size: 34px;
    margin: 20px 0 5px 0;
  }

  strong {
    color: var(--font-color);
  }
}

.post-page-header-container {
  padding: 20px 200px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.post-page-image-div-container {
  display: grid;
  place-items: center;
}

.main-image {
  width: 700px;
  height: 500px;
  padding-top: 10px;
}

.post-page-text-div-container {
  padding: 50px 200px;
  font-size: 18px;
}

.post-page-text-div-container p {
  color: var(--font-color);
}

.load-more-button-container {
  display: flex;
  justify-content: center;
}

.post-button-controls-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  color: var(--font-color);
  border: none;

  &:hover {
    color: var(--border-hover-color);
    cursor: pointer;
  }
}

.delete-button {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  color: var(--font-color);
  border: none;

  &:hover {
    color: var(--error);
    cursor: pointer;
  }
}

.rating-container {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
