button {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #343a40;
  background-color: #e9ecef;
  min-width: 150px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &:hover {
    background-color: #b7c4cf;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(-2px);
  }
}
