<section class="home-page">
  <div class="home-post-list-container">
    <div class="post-list-container">
      <div class="post-list-container-heading">
        <span><img src="/images/only logo.png" /></span>
        <h2>Tranding posts</h2>
      </div>
      <app-tranding-posts-list></app-tranding-posts-list>
    </div>
    <div class="post-list-container">
      <div class="post-list-container-heading">
        <span><img src="/images/only logo.png" /></span>
        <h2>Posts</h2>
      </div>
      <app-posts-list></app-posts-list>
    </div>
  </div>
  <div class="home-ads-container">
    <div>
      <img src="/images/ad-images/ad-one.jpg" />
    </div>
    <div><img src="/images/ad-images/ad-two.jpg" /></div>
    <div><img src="/images/ad-images/ad-three.jpg" /></div>
  </div>
</section>
