<section class="home-page">
  <div class="home-post-list-container">
    <div class="trading-post-list-container">
      <div class="trading-post-list-container-heading">
        <h2>Tranding posts</h2>
      </div>
      <app-tranding-posts-list></app-tranding-posts-list>
    </div>
    <div class="post-list-container">
      <div class="post-list-container-heading">
        <h2>Posts</h2>
      </div>
      <app-posts-list></app-posts-list>
    </div>
  </div>
  <div class="home-ads-container"></div>
</section>
