<div class="container-post">
  <div class="item-post">
    <img src="/images/post-images/post-photo-01.jpg" class="image-post" />
    <div class="description-post">
      <h2>AI Breakthrough: GPT-5 Announced</h2>
      <p>
        Designed with future technologies for the future experience by
        considering every detail aspects. This innovative product ensures
        optimal performance and ease of use, making it ideal for both beginners
        and experts alike.
      </p>
      <div class="post-button-container">
        <app-button class="button" text="Learn more..."></app-button>
        <div class="post-info-container">
          <p>Ana Jovanoska</p>
          <div class="post-info">
            <p>08.09.2024</p>
            <samp>5<i class="fa-regular fa-star"></i></samp>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
