<div class="container-post">
    <div class="item-post">
        <img src="/images/post-images/post-photo-01.jpg" class="image-post" />
        <div class="description-post">
            Designed with future technologies for the future experience by considering every detail aspects.
            This innovative product ensures optimal performance and ease of use, making it ideal for both beginners and
            experts alike.
            With a sleek design and cutting-edge functionality, it offers a seamless integration of modern technology
            into everyday life.
            <app-button class="button" text="Learn more..."></app-button>
        </div>
    </div>
    <div class="item-post">
        <img src="/images/post-images/post-photo-02.webp" class="image-post" />
        <div class="description-post">
            Designed with future technologies for the future experience by considering every detail aspects.
            This innovative product ensures optimal performance and ease of use, making it ideal for both beginners and
            experts alike.
            With a sleek design and cutting-edge functionality, it offers a seamless integration of modern technology
            into everyday life.
            <app-button class="button" text="Learn more..."></app-button>
        </div>

    </div>

</div>