<section class="forms-page">
  <div class="forms-register-container">
    <div class="signin-card">
      <div class="logo-image">
        <img src="/images/only logo.png" width="138" />
      </div>
      <h1 class="heading">Register</h1>
      <form class="form">
        <div class="form-group">
          <input id="firstName" placeholder="First name" type="text" />
        </div>
        <div class="form-group">
          <input id="lastName" placeholder="Last name" type="text" />
        </div>
        <div class="form-group">
          <input id="username" placeholder="Email" type="text" />
        </div>
        <div id="form-login-password" class="form-group">
          <input id="password" placeholder="Password" type="password" />
        </div>
        <div id="form-login-rePassword" class="form-group">
          <input placeholder="Confirm password" type="password" />
        </div>
      </form>
      <div class="login-form-button-div">
        <button class="register-button" type="submit">Register</button>
      </div>
      <div class="login-message">
        Already have an account?
        <a>Log In</a>
      </div>
    </div>
  </div>
</section>
